{% extends 'base.html' %}
{% load static %}

{% block title %}Schedules{% endblock title %}

{% block css%}
<style>
    tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}
</style>
{% endblock css %}

{% block content %}

{% include 'navbar.html' %}

<section id="infinite" class="text-white tm-font-big tm-parallax" style="height:300px; padding-bottom:15px;">
    <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title" style="margin-top:15px;">{{object|title}} Page</h2>
            <p class="tm-hero-subtitle">
                Back to the Home Page
            </p>
        </div>
    </div>
     <div class="tm-next tm-intro-next">
        <a href="{% url 'index' %}" class="text-center tm-down-arrow-link">
            <i class="fas fa-2x fa-arrow-left tm-down-arrow"></i>
        </a>
    </div>
</section>

<div class="container">
    <br><h1>My Appointments</h1><br>
    <table class="table delete-row-example">
          <thead>
                <tr>
                      <th>Name</th>
                      <th>Date</th>
                      <th>Hour</th>
                      <th>Message</th>
                      <th></th>
                </tr>
          </thead>
          <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s">

          {% for appointment in my_appointments %}
                {% if appointment.is_confirmed %}
                <tr>
                    <td>{{ appointment.name}}</td>
                    <td>{{ appointment.date}}</td>
                    <td>{{ appointment.hour}}</td>
                    <td>{{ appointment.message|truncatechars:99}}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" hx-get="{% url 'delete_appointment' appointment.id %}">
                            Done</button>
                    </td>
                </tr>
                {% endif %}
          {% endfor %}

          </tbody>
    </table>
</div>



{% endblock content %}