{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Testimony{% endblock title %}

{% block content %}
{% include 'navbar.html' %}
<br><br><br>
<div class="container tm-container-contact">
    <div class="row">
        <div class="col">
              <center><h2 class="tm-section-title mb-4">Edit your testimony</h2></center>
        </div>
    </div><br>
    <div class="row">
        <div class="text-center col-7 mr-auto">
            <h4 class="mb-4">
                Adjust the field content and submit
            </h4>
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form|crispy }}
             <input type="submit" class="btn tm-btn-submit" value="Submit">
            </form>
        </div>

        <div class="col-3 ml-auto">
            <h4 class="mb-4">We care about your impressions!</h4>
            <p>By editing your testimony, it will be sent to our Admins again and after a verification, again posted
                on our web site`s Home Page.</p>
            <small>Thank you for your effort.</small>
        </div>
        <div class="col-sm-12 col-md-6">

        </div>
    </div>
</div>

{% endblock content %}