{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}

{% block content %}
{% include 'navbar.html' %}
<br><br><br>
<div class="container tm-container-contact">
    <div class="row">
        <div class="text-center col-12">
            <h2 class="tm-section-title mb-2">Register as Customer</h2>
            <p class="mb-4">
                Fill out the form and submit
            </p>
        </div>

        <div class="col-sm-12 col-md-6">
            <center><div id="used-username" style="font-size:13px;">Checker</div></center>
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form|crispy }}
             <input type="submit" class="btn tm-btn-submit" value="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock content %}