
<section id="infinite" class="text-white tm-font-big tm-parallax" style="height:600px; padding-bottom:15px;">
    <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title" style="margin-top:15px;">{{object|title}} Page</h2>

        </div>
    </div>

    <div class="tm-next tm-intro-next">
        <a href="#contact" class="text-center tm-down-arrow-link">
            <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
        </a>
    </div>
</section>

<small>Back to </small><h3 style="display:inline;"><a href="{% url 'index' %}">Home Page</a></h3>
