
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-md tm-navbar" style="background:#2351ae;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars navbar-toggler-icon"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <div class="col-3">
                    <li class="nav-item">
                        <form method="POST" action="{% url 'city-optics' %}">
                        {% csrf_token %}
                            <input type="search" name="searcher" placeholder="Search Products" class="form-control">
                        </form>
                    </li>
                 </div>

                <div class="col-4">
                    <div class="row">
                        <div class="col">
                        <li class="nav-item">
                        <a class="nav-link tm-nav-link" href="{% url 'products' %}">Products</a>
                        </li>
                        </div>

                        <div class="col">
                        <li class="nav-item">
                        <a class="nav-link tm-nav-link" href="{% url 'order' %}">Orders</a>
                        </li>
                        </div>

                        <div class="col">
                        <li class="nav-item">
                        <a class="nav-link tm-nav-link" href="{% url 'appointment' %}">Appointments</a>
                        </li>
                        </div>
                    </div>
                </div>
                {% if request.user.is_anonymous %}
                <div class="col-3 ml-auto">
                    <div class="row">
                        <div class="col">
                        <li class="nav-item">
                        <a class="nav-link tm-nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        </div>

                        <div class="col">
                        <li class="nav-item">
                        <a class="nav-link tm-nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-3 ml-auto">
                    <div class="row no-gutter">
                        {% if user.is_superuser %}
                        <div class="col-3 ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" style='color:white;' href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="nav-link tm-nav-link" href="{% url 'create' %}" style='color:black;'>Create</a></li>
                                    <li><a class="nav-link tm-nav-link" href="{% url 'schedules' %}" style='color:black;'>Schedule</a></li>
                                      <li><a class="nav-link tm-nav-link" href="{% url 'profile' request.user.customer.slug %}" style='color:black;'>Profile</a></li>
                                    <li><a class="nav-link tm-nav-link" href="{% url 'admin:index' %}" style='color:black;'>Admin Panel</a></li>

                                  </ul>
                            </li>
                        </div>
                        {% else %}
                        <div class="col-3 ml-auto">
                            <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="{% url 'profile' request.user.customer.slug %}">{{request.user}}</a>
                            </li>
                        </div>
                        {% endif %}
                        <div class="col-4 ml-auto">
                            <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </nav>
    </div>
</div>