{% extends 'base.html' %}
{% load static %}

{% block title %}Order{% endblock title %}

{% block content %}

{% include 'navbar.html' %}
{% include 'hero.html' %}

<div class="container">
    {% if products and product %}
    <div class="container">
            <br>
            <h1>Hello {{name}}</h1>
            {% if message %}<h1>We received your message.</h1>{% endif %}
            <h1>You have ordered {{ product }}. We `ll contact you with the further information as soon as possible:</h1>
            <h3>via phone (<strong>{{phone}}</strong>) {% if email %}and email ({{email}}) {% endif %}you provided!</h3>
            <small>Thank you for your time and patience.</small>
            <br><br>

        {% else %}
        <br>
        <h2>Please fill out the form, leave your contact, and we will book your order as
            soon as possible. If you are registered as Customer, use the coupon code we sent to your email and
            gain 5% discount on your first Order. Feel free to send us any question or suggestion you have or
            just, if you prefer, you can contact us via email or phone number provided below.
        </h2>
        <br><br>
        {% endif %}
    </div>
</div>
<section id="contact" class="tm-section-pad-top tm-parallax-2">
    <div class="container tm-container-contact">
        <div class="row">
            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4">Make an{%if product %}other{%endif%} Order</h2>
                <small style="color:lightgreen;">Your data is safe with us.</small>
                <br><br>
            </div>

            <div class="col-sm-12 col-md-6 mt-5">
                <form action="{% url 'order' %}" method="POST">
                    {% csrf_token %}
                    {% if specific_product %}
                        <select id="products" name="product" class="tm-input" required>
                            <option value="{{ specific_product }}" selected>{{ specific_product }}</option>
                        </select>
                    {% else %}
                    <input list="products" name="product" placeholder="Select Product" class="tm-input" required>
                        <datalist id="products">
                            {% for product in products %}
                            {% if product.present %}
                            <option value="{{product.name}}: {{product.price}} $" style="color:gray;">
                            {% endif %}
                            {% endfor %}
                        </datalist>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <input id="name" name="name" type="text" placeholder="Your Name" class="tm-input" value="{{request.user.first_name}} {{request.user.last_name}}" required/>
                    <input id="email" name="email" type="email" placeholder="Your Email" class="tm-input"/ value="{{request.user.email}}">
                    {% else %}
                    <input id="name" name="name" type="text" placeholder="Your Name" class="tm-input" required/>
                    <input id="email" name="email" type="email" placeholder="Your Email" class="tm-input"/>
                    {% endif %}
                    <input id="phone" name="phone" type="tel" placeholder="Your Phone" class="tm-input" required/>
                    <input id="coupon" name="coupon" type="text" placeholder="Coupon Code" class="tm-input"/>
                    <textarea id="message" name="message" rows="8" placeholder="Message" class="tm-input"></textarea>
                    <button type="submit" class="btn tm-btn-submit btn-primary">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-6 mt-5">
                <div class="contact-item">
                    <a rel="nofollow" href="mailto:city.optics.email@gmail.com" class="item-link" target="_blank">
                        <i class="far fa-2x fa-envelope mr-4"></i>
                        <span class="mb-0">city.optics.email@gmail.com</span>
                    </a>
                </div>

                <div class="contact-item">
                    <a rel="nofollow"
                       href="https://www.google.com/maps"
                       class="item-link" target="_blank">
                        <i class="fas fa-2x fa-map-marker-alt mr-4"></i>
                        <span class="mb-0">Our Location</span>
                    </a>
                </div>

                <div class="contact-item">
                    <a rel="nofollow" href="tel:+381** 111222" class="item-link">
                        <i class="fas fa-2x fa-phone-square mr-4"></i>
                        <span class="mb-0">+381** 111222</span>
                    </a>
                </div>

                <div class="contact-item">&nbsp;</div>

            </div>
        </div>
    </div>
</section>

{% endblock content %}