{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}CreateProduct{% endblock title %}

{% block content %}
{% include 'navbar.html' %}
<br><br><hr style="width:75%;">
<div class="container tm-container-contact">
    <div class="row">
        <div class="text-center col-12">
            <h2 class="tm-section-title mt-4 mb-4">Create new Product</h2>
            <p class="mb-4">
                Use form below to generate another Product in our store!
            </p>
        </div>

        <div class="col-sm-12 col-md-6">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form|crispy }}
             <input type="submit" class="btn tm-btn-submit" value="Create">
            </form>
        </div>
    </div>
</div>
<hr style="width:75%;">

{% endblock content %}