{% extends 'base.html' %}
{% load static %}

{% block title %}Overview{% endblock title %}

{% block content %}

{% include 'navbar.html' %}
{% include 'hero.html' %}

<br><br>
{% if results %}
<ul>
    {% for result in results %}
    <li>
        <a href="{% url 'product_details' result.id %}">{{ result.name }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<div class="container">
    {% if searched_item %}
    <h3>No results for '{{ searched_item }}'</h3>
    {% else %}
    <div class="row">
        <div class="col-9">
            <h1>Welcome to the CityOptics</h1>
            <small>Thanks for visiting.</small>
            <small>Let`s start!</small>
        </div>
        {% if request.user.is_anonymous %}
        <div class="col-3">
            <p>If you still haven`t registered as a Customer maybe you should consider it.</p>
            <small>With registration you will gain coupon code, 5% discount for the first order you made.</small>
            <small>Follow this </small><a href="{% url 'register' %}">Link</a>
        </div>
        {% else %}
        <div class="col-3">
            <p>We hope you found something you need and that you `ve used your discount code.</p>
            <small>Check out our new products!!</small>
            <small>Follow this </small><a href="{% url 'all_products' %}">Link</a>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endif %}
<br><br>

{% if results %}
<section id="contact" class="tm-section-pad-top tm-parallax-2">
    <section id="gallery" class="tm-section-pad-top">
    <div class="container tm-testimonials-content">
        <div class="row">
            <div class="col-12">
                <div class="mx-auto tm-gallery-container">
                    <div class="grid tm-gallery">
                        {% for result in results %}
                        <a href="{{ result.image.url }}">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="{{ result.image.url }}" alt="Image 1" class="img-fluid">
                                <figcaption>
                                    <h2><i>{{ result.name }}<span>{{ result.price|floatformat:2 }}$</span>
                                    {% if result.present %}<small style="color:lightgreen;">available</small>
                                        {% else %}<small style="color:red;">unavailable</small>{% endif %}</i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</section>
{% endif %}

{% endblock content %}